{% extends 'framework/base.tmpl' %}

{% block title%}Benutzerliste{% endblock %}

{% block content%}
    <p><a href="user/list">Benutzerliste</a></p>
    <p><a href="user/create">Benutzer anlegen</a></p>
{% endblock %}