{% extends 'framework/base.tmpl' %}

{% block title%}Neuer Charakter für {{ user.username }}{% endblock %}

{% block content%}
<h1>Neuer Charakter für {{ user.username }}</h1>
<form action="create" method="post">
    Name: <input type="text" name="charactername"/> <br />
    <input type="submit" name="button" value="Erstellen"/>
</form>
{% endblock %}