{% extends 'framework/base.tmpl' %}

{% block title%}{{ character.name }}{% endblock %}

{% block content%}
<div id="edit" class="edit_form"></div>
<div class="values">
    <div>
        <h2>Charakter {{ character.name }}</h2>
        <p>Besitzer: {{ character.user.username }}</p>
    </div>

    <div>
        <h2>Kopfdaten</h2>
        {% for head in character.heads %}
        <div aj_id="{{ head.id }}" class="edit_head">
            <div class="category">{{ head.list.title }}</div>
            <div class="value">{{ head.value.value }}</div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="/static/js/ajax.js"></script>

<script type="text/javascript">
forms = {
    head:{
        name: 'head',
        div: 'edit',
        class: 'edit_head',
        getter: 'aj_get_character_head',
        form: {
            id: {
                type: 'hidden',
                id: true
            },
            title: {
                type: 'text',
                type_new: 'select',
                list_source: 'aj_lhead_list',
                ro: true
            },
            value: {
                type: 'select_input',
                input_name: 'value_text',
                list_source: 'aj_get_vhead_list',
                filter: {
                    key: 'lhead',
                    value_field: 'lhead_id'
                }
            },
            submit: {
                type: 'button_submit',
                text: 'Eingeben',
                ro: true
            }
        }
    }
};

var head = new Form(forms['head']);

//$('.editable').on('click', showFormForAjax);
head.hookup();
</script>
{% endblock %}
