{% extends 'framework/base.tmpl' %}

{% block title%}Benutzerliste{% endblock %}

{% block content%}
    <h1>Liste der Benutzer</h1>
    {% for user in users %}
        <p><a href="/user/show?user_id={{ user.id }}">{{ user.username }}</a></p>
    {% endfor %}
{% endblock %}