{% extends 'framework/base.tmpl' %}

{% block title%}Charakterdaten ändern{% endblock %}

{% block content%}
<div><h2>Kopfdaten</h2>
<!--a href="create_heads">(Standards einfügen)</a--></div>
<table id="headers">
    <tr>
        <th class="title">Titel</th>
        <th class="description">Beschreibung</th>
        <th class="order" title="Reihenfolge">Rf</th>
        <th class="standard" title="Standard">Std</th>
        <th class="buttons"></th>
    </tr>
{% for header in headers %}
    <tr id="{{header.id}}" class="editable head_value">
        <td class="title">{{header.title}}</td>
        <td class="description">{{header.description}}</td>
        <td class="order">{{header.order}}</td>
        <td class="standard">{% if header.standard %}&check;{% else %}x{% endif %}</td>
        <td class="buttons"></td>
    </tr>
{% endfor %}
</table>
<!-- TODO: Bild suchen -->
<a href="javascript:void(0)" id="new_head">(+)</a>

<script type="text/javascript" src="/static/js/management.js"></script>
{% endblock %}
