{% extends 'framework/base.tmpl' %}

{% block title%}Charakterdaten ändern{% endblock %}

{% block content%}
<!-- TODO: Divs als Tabelle darstellen -->
<!-- TODO: Form fest um das DIV herum und dann einfach nur noch füllen ? -->
<div id="headers">
{% for header in headers %}
    <div id="{{header.id}}" class="editable head_value">
        <div class="title">{{header.title}}</div>
        <div class="description">{{header.description}}</div>
        <div class="order">{{header.order}}</div>
        <div class="standard">{{header.standard}}</div>
    </div>
{% endfor %}
</div>
<!-- TODO: Bild suchen -->
<a href="javascript:void(0)" id="new_head">(+)</a>

<script type="text/javascript">
    function submitHeadForm(event) {
        var id = event.target.getAttribute("head_id");

        d_out = {'head_id': id,
                'title': $('form[head_id="' + id + '"] input[name="title"]').val(),
                'description': $('form[head_id="' + id + '"] input[name="description"]').val(),
                'order': $('form[head_id="' + id + '"] input[name="order"]').val(),
                'standard': ($('form[head_id="' + id + '"] input[name="standard"]').is(':checked')? true: false)}
        console.log(d_out);
        $.post('aj_set_head', d_out, function(d_in){
            if(id=="new") {
                var new_div = '<div id="' + d_in.id +'"></div>';
                $('div#headers').append(new_div);
                $('div#new_header').remove();
            }
            var showData = '<div class="title">' + d_in.title + '</div>' +
                '<div class="description">' + d_in.description + '</div>' +
                '<div class="order">' + d_in.order + '</div>' +
                '<div class="standard">' + d_in.standard + '</div>';
            var div = $('div#' + d_in.id);
            console.log(showData);
            div.html(showData);
            div.on('click', showHeadForm);
        });
    }

    function showHeadForm(event) {
        var req_item = this;
        $.post('aj_get_head', {'head_id': req_item.id}, function(data){
            var formular = '<form action="javascript:void(0)" class="input" head_id="' + data.id + '">\n' +
                '<input type="hidden" name="head_id" value="' + data.id + '" />\n' +                
                '<div class="title"><input class="title" name="title" type="text" value="' + data.title + '" /></div>\n' + 
                '<div class="description"><input name="description" type="text" value="' + data.description + '" /></div>\n' +
                '<div class="order"><input name="order" type="number" value="' + data.order + '" /></div>\n' + 
                '<div class="standard"><input name="standard" type="checkbox"' + (data.standard?' checked':'') + ' /></div>\n' +
                '<div class="actions"><input name="submit" type="submit" value="speichern" /></div>\n' +
                '</form>';
            $('div#' + data.id).off('click');
            $('div#' + data.id).html(formular);
            $('div#' + data.id + '>form').submit(submitHeadForm);
        });
    }

    $('a#new_head').on('click', function(event){
        var formular = '<div id="new_header">\n' +
                '<form action="javascript:void(0)" class="input" head_id="new">\n' +
                '<input type="hidden" name="head_id" value="new" />\n' +
                '<div class="title"><input class="title" name="title" type="text" value="Bezeichnung" /></div>\n' +
                '<div class="description"><input name="description" type="text" value="Beschreibung" /></div>\n' +
                '<div class="order"><input name="order" type="number" value="0" /></div>\n' +
                '<div class="standard"><input name="standard" type="checkbox" checked/></div>\n' +
                '<div class="actions"><input name="submit" type="submit" value="speichern" /></div>\n' +
                '</form>\n' +
                '</div>';
        $('div#headers').append(formular);
        $('div#new_header>form').submit(submitHeadForm);
    });

    $('div.editable').on('click', showHeadForm);
    // TODO: SameSite-Probleme in der Java-Console zu sehen
</script>
{% endblock %}
