body {
    background-color: #efffee;
}

div#lists {
    background-color: #aaaaaa;
    padding: 0 0.5em 0.5em 0.5em;
    width: 12em;
}

div#head {
    background-color: #000000;
    color: #ffffff;
}

table.list {
    border-color: #ffffff;
    border-style: solid;
    width: 100%;
}  