{% extends 'framework/base.tmpl' %}

{% block title%}Login{% endblock %}

{% block content%}
<form>
    Benutzername: <input type="text" /> <br />
    Passwort: <input type="password" /> <br />
</form>
{% endblock %}